.background-image{
    background-image: url('../images/header.jpg');
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex ;
    justify-content: center;
    align-items: center;
    
   
}
.banner-content{
    color: #fff;
    background-color: rgba(103, 103, 103, 0.501);
    width: 620px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}
.banner-content h1{
    font-family: 'Yellowtail',
            cursive;
            font-size: 90px;
}
.banner-content p{
    padding-top: 30px;
    padding-bottom: 20px;
}


@media screen and (max-width:560px){
    .banner-content {
            width: 320px;
           
        }

    .banner-content h1 {
            font-size: 50px;
        }
}