
/* multifaceted section */
.multifaceted-section{
    margin: 50px 100px;
}
/* table section */
.heading{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
    text-align: center;
}
table,
td {
    border: 1px solid black;
    border-left: 0;
    border-top: 0;
    border-collapse: collapse;
    text-align: center;
}
tr td{
    padding: 10px;
}
.desktop-table{
    display: block;
}
th{
    background:#C43721;
    padding: 10px;
    color: #fff;
    
}
tr td:nth-child(1){
    background: #ffd6d1;
    width: 200px;
    padding: 10px;
    
}
tr:nth-child(odd){
    background:#e4e4e4;
    width: 200px;
    padding: 10px;
}
.mobile-table{
    display: none;
}
@media screen and (max-width:560px) {
.multifaceted-section {
        margin: 50px 30px;
    }
.heading{
    font-size: 20px;
}
  .desktop-table{
display: none;
  }
  .mobile-table  {
margin-top: 20px;
display: block;
border: 1px solid #000000;
margin: 20px 0;
  }
.table-heading{
    background: rgba(240, 128, 128, 0.595);
    text-align: center;
    padding: 10px;
    font-weight: 500;
    
}
.table-red-heading{
    background: #C43721;
        text-align: center;
        padding: 10px;
        color: #fff;
}
.table-content p{
    padding: 10px;
}
.table-content{
    border: 0.2px solid  #00000096;
   
}
}